body {
  font-family: my_font;
  background: #004980;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

@font-face {
  font-family: "my_font";
  src: url("./stratosskyengweb-black.woff");
}

.square {
  margin-top: 158px;
  margin-bottom: 158px;
  background-color: #c2f5ff;
  width: 480px;
  height: 459px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.disabled {
  pointer-events: none;
}

.green {
  background-color: #7ac100;
}

.chose_difficult {
  color: #004980;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}

.difficult_level {
  display: flex;
  gap: 24px;
}

.difficult_level__number {
  margin-top: 48px;
  margin-bottom: 67px;
  height: 98px;
  width: 98px;
  background-color: white;
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  align-items: center;
  color: #0080c1;
  transition: 0.2s;
}

.button {
  width: 246px;
  height: 48px;
  background: #7ac100;
  border-radius: 12px;
  border: none;
  transition: 0.2s;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: white;
}

.button:hover {
  scale: 1.05;
}

.button_start {
  width: 246px;
  height: 50px;
  color: white;
  border-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.game_header {
  margin: 52px 0 48px 0;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.header_button {
  margin-right: 22px;
}

.div_cards {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  padding: 0 50px 0 50px;
}

.memory-card {
  width: 95px;
  height: 133px;
}

.time {
  display: flex;
  width: 155px;
  height: 72px;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #ffffff;
  justify-content: center;
}

.min_sek {
  width: 26px;
  height: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.div_div_time {
  display: flex;
}

.div_time {
  margin-left: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memory-card {
  position: relative;
  transform-style: preserve-3d;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.card {
  background: url(./src_image/рубашка.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transition: 0.2s;
}

.card:active {
  transform: scale(0.88);

}

.card1 {
  background: url(./src_image/туз\ пики.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card2 {
  background: url(./src_image/король\ пики.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card3 {
  background: url(./src_image/дама\ пики.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card4 {
  background: url(./src_image/валет\ пики.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card5 {
  background: url(./src_image/10\ пики.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card6 {
  background: url(./src_image/9\ пики.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card7 {
  background: url(./src_image/8\ пики.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card8 {
  background: url(./src_image/7\ пики.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card9 {
  background: url(./src_image/6\ пики.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card10 {
  background: url(./src_image/туз\ черви.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  position:absolute;
}

.card11 {
  background: url(./src_image/король\ черви.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card12 {
  background: url(./src_image/дама\ черви.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card13 {
  background: url(./src_image/валет\ черви.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card14 {
  background: url(./src_image/10\ черви.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card15 {
  background: url(./src_image/9\ черви.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card16 {
  background: url(./src_image/8\ черви.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card17 {
  background: url(./src_image/7\ черви.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card18 {
  background: url(./src_image/6\ черви.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card19 {
  background: url(./src_image/туз\ бубны.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card20 {
  background: url(./src_image/король\ бубны.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card21 {
  background: url(./src_image/король\ бубны.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card22 {
  background: url(./src_image/валет\ бубны.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card23 {
  background: url(./src_image/10\ бубны.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card24 {
  background: url(./src_image/9\ бубны.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card25 {
  background: url(./src_image/8\ бубны.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card26 {
  background: url(./src_image/7\ бубны.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card27 {
  background: url(./src_image/6\ бубны.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card28 {
  background: url(./src_image/туз\ крести.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card29 {
  background: url(./src_image/король\ крести.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card30 {
  background: url(./src_image/дама\ крести.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card31 {
  background: url(./src_image/валет\ крести.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card32 {
  background: url(./src_image/10\ крести.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card33 {
  background: url(./src_image/9\ крести.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  backface-visibility: hidden;
  position:absolute;
  transform: rotateY(180deg);
}

.card34 {
  background: url(./src_image/8\ крести.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card35 {
  background: url(./src_image/7\ крести.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card36 {
  background: url(./src_image/6\ крести.png);
  width: 95px;
  height: 133px;
  border-radius: 6px;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.tmp {
  width: 246px;
  height: 48px;
  background: #7ac100;
  border-radius: 12px;
  border: none;
  transition: 0.2s;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: white;
}

.tmp-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  height: 459px;
  background: #C2F5FF;
  border-radius: 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 50px;
  z-index: 1000; 
}

.victory-png {
  margin-top: 30px;
  width: 96px;
  height: 96px;
  background: url(./src_image/celebration.svg);
}

.dead-png {
  margin-top: 30px;
  width: 96px;
  height: 96px;
  background: url(./src_image/dead.svg);
}

.res-title {
  font-family: 'StratosSkyeng';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #004980;
}

.spent-time {
  height: 32px;
  font-family: 'StratosSkyeng';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  padding: 0;
  margin: 0;
  line-height: 32px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}

.res-time {
  display: flex;
  width: 155px;
  height: 72px;
  font-family: 'StratosSkyeng';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 40px;
  line-height: 72px;
  color: #000000;
  align-content: center;
  justify-content: center;
}

.res-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #004980;;
  opacity: 0.5;;
  z-index: 100; 
}
